main{
    font-family: "Open Sans", sans-serif;
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;
}
main h1{
    font-size: 35px;
    font-weight: bold;
    margin-top: 60px;
}
.subtitulo{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.relogio{
    margin-left: 10px;
    font-weight: bold;
}
.exemplo{
    padding-left: 190px;
    padding-bottom: 40px;
}

#alienação{
    margin-left: 250px;
}

footer section{

    height: 106px; 

    padding: auto;

    display: block;

    margin-top: 105%;

    background-color: #62E39E;

}

footer img{

    width: 48px;

    margin-top: 40px;

    margin-left: 20px;

}

footer #img1{

    margin-left: 460px;

}